/**
 * @file
 * Test ifocop-direction-flip()
 */

@import "ifocop";

#test-ifocop-direction-flip {
  /* Test ifocop-direction-flip(left) */
  float: ifocop-direction-flip(left);

  /* Test ifocop-direction-flip(right) */
  float: ifocop-direction-flip(right);

  /* Test ifocop-direction-flip(both) */
  float: ifocop-direction-flip(both);

  /* Test ifocop-direction-flip(none) */
  float: ifocop-direction-flip(none);

  /* Test ifocop-direction-flip(invalid) */
  float: ifocop-direction-flip(invalid);
}
