/**
 * @file
 * Test ifocop-half-gutter()
 */

@import "ifocop";

#test-ifocop-half-gutter {
  /* Test ifocop-half-gutter() with default $ifocop-gutter-width: 20px */
  padding-left: ifocop-half-gutter();

  /* Test ifocop-half-gutter() with $ifocop-gutter-width: 30px */
  $ifocop-gutter-width: 30px;
  padding-left: ifocop-half-gutter();

  /* Test ifocop-half-gutter(10em) */
  padding-left: ifocop-half-gutter(10em);

  /* Test ifocop-half-gutter(11em) */
  padding-left: ifocop-half-gutter(11em);

  /* Test ifocop-half-gutter(10px) */
  padding-left: ifocop-half-gutter(10px);

  /* Test ifocop-half-gutter(11px) */
  padding-left: ifocop-half-gutter(11px);

  /* Test ifocop-half-gutter(11px, right) */
  padding-left: ifocop-half-gutter(11px, right);

  /* Test ifocop-half-gutter(11px) with $ifocop-float-direction: right */
  $ifocop-float-direction: right;
  padding-left: ifocop-half-gutter(11px);

  /* Test ifocop-half-gutter(11px, left) with $ifocop-float-direction: right */
  padding-left: ifocop-half-gutter(11px, left);
}
