<h2>Ceci est la vue de l'action 2</h2>

<p>Ceci est le résultat de la concatenation des 2 arguments fournis : {{ concat }}</p>

{% if arg3 %}
    <p>Le troisième argument est : {{arg3}}</p>
{% endif %}