/**
 * @file
 * Test ifocop-grid-item-width()
 */
#test-ifocop-grid-item-width {
  /* Test ifocop-grid-item-width(1) with default $ifocop-column-count: 1 */
  width: 100%;
  /* Test ifocop-grid-item-width(2) with $ifocop-column-count: 5 */
  width: 40%;
  /* Test ifocop-grid-item-width(2, 5) */
  width: 40%;
  /* Test ifocop-grid-item-width(1) with $ifocop-grid-width: 100px */
  width: 100px;
  /* Test ifocop-grid-item-width(2, 5) with $ifocop-grid-width: 100px */
  width: 40px;
  /* Test ifocop-grid-item-width(2, 5, $grid-width: 1000px) */
  width: 400px;
  /* Test ifocop-grid-item-width(2, 5, $grid-width: 1000px, $box-sizing: content-box) */
  width: 380px;
  /* Test ifocop-grid-item-width(2, 5, $gutter-width: 10px, $grid-width: 1000px, $box-sizing: content-box) */
  width: 390px;
}
